{% extends 'bangazon_ui/index.html'%} 
{% block content%}
<h2>Current Order</h2>
<table>
  <tr>
    <th> Title </th>
    <th> Description </th>
    <th> Quantity </th>
    <th> Total </th>
  </tr>
{% for item in product_list %}
  <tr>
    <td> {{item.name}} </td>
    <td> {{item.description}}</td>
    <td> {{item.id__count}} </td>
    <td> {% for all_p in all_products %}
            {%if all_p.id == item.id %}
            {{all_p.quantity}}
            {%endif%}
         {%endfor%}
    </td> 
    <td> {% widthratio item.id__count 1 item.price %} </td>
  </tr>
{%endfor %}
</table>

  
    <h3>Grand Total: ${{total|floatformat:2}}</h3>

<form action="{%url 'bangazon_ui:order_detail'%}" method="post">
    {% csrf_token %}
    
    <select name="payment">
        {% for payment in payment_type %}
        <option value="{{payment.pk}}" selected="selected"> Payment {{payment.payment_type}}: {{payment.account_number}}</option>
        {% endfor %}
    </select>
    <button type="submit"> Complete </button>
</form>

    <a href="{%url 'bangazon_ui:payment_type_create' %}"> Add Payment </a>


{% endblock %}
