{% extends 'bangazon_ui/index.html' %}
{% block content %}
<h2>Register New Customer</h2>
<form class="" action="{% url 'bangazon_ui:register' %}" method="post">
    {% csrf_token %}
    <input type="text" name="first_name" value="" placeholder="First Name"><br />
    <input type="text" name="last_name" value="" placeholder="Last Name"><br />
    <input type="text" name="email" value="" placeholder="Email"><br />
    <input type="text" name="address" value="" placeholder="Street Address"><br />
    <input type="text" name="city" value="" placeholder="City"><br />
    <input type="text" name="state" value="" placeholder="State"><br />
    <input type="text" name="zip_code" value="" placeholder="Zip Code"><br />
    <input type="text" name="phone" value="" placeholder="Phone Number"><br />
    <input type="text" name="username" value="" placeholder="Username"><br />
    <input type="password" name="password" value="" placeholder="Password"><br />
    <button type="submit" name="button">Submit</button>
</form>

{% endblock %}