.bang-nav {
  width: 100%;
  position: fixed;
  top: 0;
  height: 75px;
  background: teal;
  color: tan;
  box-shadow: inset 0 0 3em rgba(20, 49, 83, 0.8);
}

.bang-nav h1 {
  display: inline;
  font-size: 3em;
  margin-left: .25em;
  margin-top: 5px;
  float: left;
}

.nav-btn {
  float: right;
  background-color: tan;
  color: grey;
  font-weight: bolder;
  font-size: 1.25em;
  border: 1px solid black;
  width: 130px;
  height: 50px;
  margin: 1px;
  border-radius: .25em;
  text-align: center;
}


.main-body {
  margin-top: 12.5vh;
}

.nav-list {
  list-style: none;
  margin: 12px;
}

.nav-list li {
  display: inline;
}

.nav-list li a {
  text-decoration: none;
  padding: auto;
/*  text-shadow: 1px 1px 1px black;
*/}

