
{% extends 'Bangazon_api/index.html' %}

{% block content %}

  <form action="{% url 'Bangazon_api:payment_type_create' %}" method="post" >
    {% csrf_token %}
    <br>
    <input type="text" name="payment_type" value="" placeholder="Payment Type (Visa, Mastercard, etc.)">
    <br>
    <input type="text" name="account_number" value="" placeholder="16-digit Account Number">
    <br>
    <input type="text" name="ccv" value="" placeholder="CCV Number">
    <br>
    <input type="text" name="expiration_date" value="" placeholder="Expiration Date">
    <br>
    <button type="submit" name="button">Submit</button>
  </form>

{% endblock %}


